body {
    background: #333;
    color: #fff;
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 50px;
}

#filter {
    background: #444;
    border: 2px outset #000;
    width: auto;
}

#holder {
    background: #555;
    border: 1px solid #000;
    height: auto;
    width: auto;
    height: 400px;
}

#filter td {
    padding-left: 5px;
    padding-right: 5px;
}
/*Clock*/
.switch-image {
    color: #333;
}
/*Scroll*/
.left-arrow, .right-arrow {
    cursor: pointer;
}
.scroll-box {
    float: left;
}

.g-scrollable {
    overflow-x: scroll;
}
